body {
    background-color: darkred;
    text-align: center;
    overflow-x: hidden;
    font-size: 50px;
    padding: 100px;
    background-image: url('fondo.png');

}
h1 {
    color: black;
}